/* .management-card {
  width: 200px;
  text-align: center;
}

.management-card img {
  width: 100%;
  border-radius: 10px;
}

.management-card h3 {
  margin: 0.5rem 0 0.2rem;
  font-size: 1rem;
}

.management-card p {
  font-size: 0.9rem;
  color: #666;
}

.management-card .role {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #ff6600;
  font-weight: bold;
} */
