@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BalooBhai2";
  src: url("../../fonts/BalooBhai2-Regular.ttf") format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
}

.management-section {
  text-align: center;
  padding-top: 2rem;
}

.management-header {
  text-align: start;
  margin-left: 4rem;
}

.management-intro {
  font-weight: bold;
  font-size: 1rem;
  color: #299bd8;
  margin-bottom: 1rem;
}

.management-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #303030;
  margin-bottom: 1rem;
}

.management-cards {
  display: flex;
  margin-left: 4rem;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem 0 2rem 0;
}

.management-cards::-webkit-scrollbar {
  height: 8px;
}

.management-cards::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
