.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url("/public/mainbannerBackground.svg") no-repeat center center /
    cover;
  padding: 3rem 0;
  color: white;
  height: 70vh;
}

.banner-title {
  font-size: 4.5rem;
  font-family: "BalooBhai2";
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.banner-subtitle {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.search-flights {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  width: 80%;
  max-width: 1160px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "BalooBhai2";
}

.radio-group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}

.radio-group label {
  font-size: 0.9rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.input-group {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "BalooBhai2";
}

.field-label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  align-self: start;
  font-family: "BalooBhai2";
}

.input-field input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  font-family: "Dunggeunmiso-R";
  outline: none;
}

.search-button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #f99a0e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  font-family: "BalooBhai2";
}

.search-button:hover {
  background-color: #f77a0e;
}

@media screen and (max-width: 768px) {
  .main-banner {
    height: auto;
    padding: 2rem 1rem;
  }

  .banner-title {
    font-size: 2.5rem;
  }

  .banner-subtitle {
    font-size: 1.2rem;
  }

  .search-flights {
    width: 90%;
    padding: 1rem;
  }

  .radio-group {
    justify-content: center;
  }

  .input-group {
    flex-direction: column;
    gap: 0.5rem;
  }

  .input-field {
    width: 100%;
  }

  .search-button {
    width: 100%;
    padding: 1rem;
  }
}
