.project-card {
  width: 280px;
  height: 180px;
  background-color: black;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #424242;
  text-decoration: none;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-card .title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: white;
}

.project-card .batch {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: right;
  color: white;
}

.project-card .batch .from {
  font-size: 0.8rem;
  font-weight: normal;
  opacity: 0.8;
  display: block;
}

.project-card .batch .batch-number {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  display: block;
}
