.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-family: "BalooBhai2";
  font-weight: bold;
  color: #f99a0e;
  text-decoration: none;
}

.logo .highlight {
  font-family: "BalooBhai2";
  font-weight: bold;
  color: #299bd8;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links li {
  font-size: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #424242;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #1262af;
}

.nav-links .active {
  color: #1262af;
}
