.projects-section {
  padding-top: 2rem;
  text-align: center;
}

.projects-header {
  text-align: left;
  margin: 0 4rem 0 4rem;
}

.projects-header .projects-intro {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #299bd8;
}

.projects-header .projects-header-title {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  color: #303030;
}

.projects-header a {
  font-size: 0.9rem;
  color: #299bd8;
  text-decoration: none;
}

.projects-grid {
  display: flex;
  justify-content: start;
  gap: 1rem;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding: 1rem 0 2rem 0;
  margin-left: 4rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.projects-grid::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .projects-intro {
    display: none;
  }
  .projects-header-title a {
    display: none;
  }
}
